@mixin perpendicularly-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontally-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$color-yellow: #ffc300;

body {
    background: gray;
    margin: 0;
    font-family: "Muli", "Poppins", sans-serif;
    // font-size: 16px;
    font-size: 0.834vw;
}

.nav-belt {
    width: 58.5em;
    border-right: 19px solid transparent;
    // border-top: 2.3em solid #aab0b8;
    border-top: 37px solid #aab0b8;
    position: relative;
    bottom: -96px;
    z-index: 1;

    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // height: 2.2em;
        height: 37px;
        width: 100%;
        position: absolute;
        // top: -2.2em;
        top: -37px;

        p {
            opacity: 1;
            position: relative;
            margin-left: 4.7em;
            // font-size: 0.75em;
            font-size: 12px;
            color: #555555;
            font-weight: 300;
            font-style: italic;
            font-family: "Muli", sans-serif;
            letter-spacing: -0.5px;

            &:last-child {
                margin-right: 22px;
            }

            a {
                text-decoration: none;
                color: #555555;

                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}

header {
    height: 96px;
    background: white;
    padding: 0;
    margin: 0;
    position: relative;

    img {
        @include perpendicularly-center();
        margin-left: 18.7%;
        width: 269px;
    }

    ul {
        right: 0;
        @include perpendicularly-center();
        margin: 0;
        list-style: none;
        font-family: 'Muli', sans-serif;

        li {
            display: inline-block;
            margin-right: 3.1em;
            font-size: 1em;
            color: #151720;

            a {
                color: inherit;
                text-decoration: none;
            }

            &:last-of-type {
                margin-right: 2.8em;
            }

            .bold {
                font-weight: bold;
            }
        }
    }

    #nav {
        font-size: 1.13em;
        text-align: left;
        right: 10.5%;

        li {
            margin-right: 6.1em;
        }
    }
}

.main-page {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    font-size: 1.53vh;
    height: calc(100vh - 96px);

    >div {
        z-index: 1;
        color: white;
        display: inline-block;
        position: relative;
        padding-top: 5.1em;
        width: 47%;
        font-family: "Poppins";

        h1 {
            font-size: 5.1em;
            margin-top: 0.4em;
            margin-bottom: 0.3em;
            padding-right: 0.61em;
            line-height: 1.2em;
            letter-spacing: -4px;
            font-weight: normal;
        }

        .box-blue {
            background: rgba(21, 35, 56, .6);
            height: 6.9em;
            position: relative;

            p {
                @include perpendicularly-center();
                right: 2.2em;
                margin: 0;
                font-size: 1.4em;
                line-height: 1.5em;
                font-weight: 300;
            }
        }

        .box-yellow {
            background: $color-yellow;
            color: #162132;
            font-weight: 600;
            display: inline-block;
            padding: 0.62em 2.4em 0.62em 2.64em;
            font-size: 1.3em;
        }
    }

    .main-left {
        text-align: right;

        &::before {
            content: '';
            display: block;
            border-top: 3px solid white;
            width: 40em;
            position: absolute;
            right: 0;
        }
    }

    .main-right {
        font-size: 2.8em;
        letter-spacing: -2px;

        p {
            padding-left: 3.46em;
            line-height: 1.72em;
            margin: 0;
            bottom: 0.2em;
            position: relative;

            &::before {
                content: '';
                left: 2.53em;
                @include perpendicularly-center();
                width: 0.14em;
                height: 0.14em;
                background: white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1.34em;
            background: rgba(black, 0.4);
            box-shadow: 0 0 2.01em 1.8em rgba(black, 0.4);
            border-radius: 40px;
            width: 8.5em;
            height: 6.2em;
            z-index: -1;
            left: 2.24em;
        }
    }

    nav {
        text-align: center;
        padding-top: 6.25em;
        padding-bottom: 5.19em;

        ul {
            list-style: none;
            margin: 0;

            li {
                position: relative;
                width: 23.44em;
                background: rgba(black, 0.4);
                display: inline-block;
                margin-right: 3.1em;
                transition: 0.3s;

                a {
                    line-height: 5.4em; //Wyśrodkowanie tekstu w pionie oraz ustawienie szerokości przycisku
                    text-decoration: none;
                    color: white;
                    font-size: 1.3em;
                    display: block;
                }

                &:hover {
                    background: rgba(black, 0.9);
                    transition: 0.1s;

                    a {
                        color: $color-yellow;
                    }
                    
                    &::before{
                        box-shadow:
                        -9px 0px 30px 24px rgba($color-yellow, .1),
                        0 4px 4px 0 rgba($color-yellow, .15);
                    }
                }

                &:before {
                    content: '';
                    border-left: 6px solid $color-yellow;
                    position: absolute;
                    left: -8px;
                    margin-right: 0.7em;
                    height: 100%;
                }
            }
        }
    }
}

.main-company {
    padding-bottom: 16.7em;
    background: white;

    .gradient {
        position: absolute;
        z-index: 0;
        background: linear-gradient(180deg, 
            rgba(213, 220, 230, 1) 0%, 
            rgba(222, 227, 235, 1) 47%, 
            rgba(229, 233, 239, 1) 58%, 
            rgba(233, 236, 242, 1) 68%, 
            rgba(235, 238, 243, 1) 74%, 
            rgba(255, 255, 255, 1) 100%);
        width: 100%;
        height: 18.7em;
    }

    h1 {
        color: #49515c;
        font-size: 4.9em;
        font-weight: 400;
        font-family: "Muli", sans-serif;
        margin: 0;
        margin-left: 3em;
        padding-left: 0.6em;
        padding-top: 1.77em;
        margin-bottom: 0.7em;
        position: relative;

        &:after {
            content: '';
            border-bottom: 2px solid #000;
            opacity: 0.1;
            width: 100%;
            display: block;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }

    .box {
        .box-left-about {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 49%;

            img {
                width: 100%;
                position: absolute;
                top: 0.5em;
                left: -4.2em;
                transform: scale(1.08);
            }

            .nav-belt {
                position: absolute;
                bottom: -28.1em;
                width: 72.6%;
                border-right: 2.2em solid transparent;
                border-top: 4.5em solid #49515c;

                div {
                    height: 100%;
                    color: $color-yellow;
                    right: 2.5em;
                    font-size: 1.1em;
                    letter-spacing: 0.5px;
                    top: -2.2em;
                }
            }
        }

        .box-right-about {
            padding: 1px;
            padding-top: 5.9em;
            width: 40.8%;
            display: inline-block;
            vertical-align: top;

            p {
                line-height: 1.7em;
                letter-spacing: 0.48px;
                color: #49515c;
                margin: 0;
                font-size: 1.1em;
                padding-bottom: 1.7em;
            }
        }
    }
}

section {
    background: white;
    padding-bottom: 6.2em;

    .container {
        background: white;
        display: flex;
        justify-content: space-between;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 90.3%;
            border-top: 1px solid #dbdcde;
            @include horizontally-center();
        }

        .box-logo {
            margin-left: 6.2em;
            margin-top: 3.6em;

            img {
                width: 16.8em;
            }
        }

        .box-data {
            text-align: right;
            padding-right: 5.7em;

            h2 {
                padding-top: 20px;
                color: #505050;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                font-size: 1.1em;
                padding-top: 32px;
                letter-spacing: 0.4px;
                line-height: 30px;
            }

            .icon-datum {
                padding-top: 13px;
            }

            div>div {
                display: inline-block;
                padding-left: 1.1em;
                padding-top: 1.25em;

                img {
                    vertical-align: middle;
                    padding-right: 0.8em;
                }

                a {
                    text-decoration: none;
                    font-size: 1.12em;
                    color: #007ebf;
                    font-family: "Poppins";
                    // letter-spacing: -0.1px;

                }

                &:first-child {
                    padding-right: 0.9em;

                    a {
                        padding-right: 0.6em;
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
    padding-top: 29px;
    background: $color-yellow;

    .yellow-beam{
        padding-bottom: 3.4em;
        position: relative;

        div:first-of-type{
            margin-right: 3.1em;
        }

        &:after{
            content: '';
            display: block;
            border-left: 1px solid #c4a11e;
            height: 3em;
            position: absolute;
            right: 48%;
            top: 38%;
        }
    }

    div{
        display: inline-block;
    
        #counter-week, #counter-all{
            font-size: 1.3em;
        }

        #counter-week{
            padding-right: 0.5em;
        }
    }

    h1, p{
        font-size: 1.5em;
        line-height: 1.26em;
        color: #3b5165;
        font-weight: 400;
        font-family: "Poppins";
    }

    p{
        display: inline-block;
        margin: 0;
        padding-top: 0.3em;
        padding-left: 2.5em;
        padding-right: 1.7em;
        font-size: 1.13em;
    }

    .gray-beam{
        display: block;
        background: #3b5165;
        padding-top: 2.1em;
        padding-bottom: 2em;
        line-height: 0.63em;
        font-style: italic;
        font-family: "Muli";

        h2, p{
            margin: 0;
            font-size: 1em;
            color: #ffffff;
            font-weight: 300;
        }
    }
}

















@media(max-width: 1820px) {
    header #nav{
            right: 11em;
            
            li{
                margin-right: 4.7em;
            }
        }
}

@media(max-width: 1720px) {
    header #nav{
        right: 9em;

        li{
            margin-right: 3.7em;
            font-size: 1.1em;
        }
    }

    .nav-belt div p {
        font-size: 10.5px;
    }
}

@media(max-width: 1366px) {

    body {
        font-size: 0.934vw;
    }


    header {
        #nav{
            right: 4em;
        }

    }

   
}