body {
  background: white;
  margin: 0;
  font-family: "Muli", "Poppins", sans-serif;
  font-size: 0.834vw;
}

.hide-mobile {
  display: none;
}

.show-desktop {
  display: block;
}

.nav-belt {
  width: 58.5em;
  border-right: 19px solid transparent;
  border-top: 37px solid #aab0b8;
  position: relative;
  bottom: -96px;
  z-index: 1;
}

.nav-belt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 37px;
  width: 100%;
  position: absolute;
  top: -37px;
}

.nav-belt div p {
  opacity: 1;
  position: relative;
  margin-left: 4.7em;
  font-size: 12px;
  color: #555555;
  font-weight: 300;
  font-style: italic;
  font-family: "Muli", sans-serif;
  letter-spacing: -0.5px;
}

.nav-belt div p:last-child {
  margin-right: 22px;
}

.nav-belt div p a {
  text-decoration: none;
  color: #555555;
}

.nav-belt div p a .bold {
  font-weight: bold;
}

.nav-belt.nav-belt-middle div p {
  color: #ffc300;
  text-align: center;
  margin: 10px;
  font-size: 1.1em;
}

.nav-belt .container-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  width: auto;
}

header {
  height: 96px;
  background: white;
  padding: 0;
  margin: 0;
  position: relative;
}

header img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 18.7%;
  width: 269px;
}

header ul {
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  list-style: none;
  font-family: 'Muli', sans-serif;
}

header ul li {
  display: inline-block;
  margin-right: 3.1em;
  font-size: 1em;
  color: #151720;
}

header ul li a {
  color: inherit;
  text-decoration: none;
}

header ul li:last-of-type {
  margin-right: 2.8em;
}

header ul li .bold {
  font-weight: bold;
}

header #nav {
  font-size: 1.13em;
  text-align: left;
  right: 10.5%;
}

header #nav li {
  margin-right: 6.1em;
}

.main-page {
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  font-size: 1.53vh;
  height: calc(100vh - 96px);
}

.main-page > div {
  z-index: 1;
  color: white;
  display: inline-block;
  position: relative;
  padding-top: 5.1em;
  width: 47%;
  font-family: "Poppins";
}

.main-page > div h1 {
  font-size: 5.1em;
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  padding-right: 0.61em;
  line-height: 1.2em;
  letter-spacing: -4px;
  font-weight: normal;
}

.main-page > div .box-blue {
  background: rgba(21, 35, 56, 0.6);
  height: 6.9em;
  position: relative;
}

.main-page > div .box-blue p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2.2em;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 300;
}

.main-page > div .box-yellow {
  background: #ffc300;
  color: #162132;
  font-weight: 600;
  display: inline-block;
  padding: 0.62em 2.4em 0.62em 2.64em;
  font-size: 1.3em;
}

.main-page .main-left {
  text-align: right;
}

.main-page .main-left::before {
  content: '';
  display: block;
  border-top: 3px solid white;
  width: 40em;
  position: absolute;
  right: 0;
}

.main-page .main-right {
  font-size: 2.8em;
  letter-spacing: -2px;
}

.main-page .main-right p {
  padding-left: 3.46em;
  line-height: 1.72em;
  margin: 0;
  bottom: 0.2em;
  position: relative;
}

.main-page .main-right p::before {
  content: '';
  left: 2.53em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.14em;
  height: 0.14em;
  background: white;
}

.main-page .main-right::after {
  content: '';
  position: absolute;
  bottom: 1.34em;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 2.01em 1.8em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2.01em 1.8em rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  width: 8.5em;
  height: 6.2em;
  z-index: -1;
  left: 2.24em;
}

.main-page nav {
  text-align: center;
  padding-top: 6.25em;
  padding-bottom: 5.19em;
}

.main-page nav ul {
  list-style: none;
  margin: 0;
}

.main-page nav ul li {
  position: relative;
  width: 23.44em;
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-right: 3.1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-page nav ul li a {
  line-height: 5.4em;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  display: block;
}

.main-page nav ul li:hover {
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main-page nav ul li:hover a {
  color: #ffc300;
}

.main-page nav ul li:hover::before {
  -webkit-box-shadow: 0px 0px 15px 4px #ffc500, -9px 0px 50px 14px rgba(255, 195, 0, 0.73);
          box-shadow: 0px 0px 15px 4px #ffc500, -9px 0px 50px 14px rgba(255, 195, 0, 0.73);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-page nav ul li:before {
  content: '';
  border-left: 6px solid #ffc300;
  position: absolute;
  left: -8px;
  margin-right: 0.7em;
  height: 100%;
}

.gradient {
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d5dce6), color-stop(47%, #dee3eb), color-stop(58%, #e5e9ef), color-stop(68%, #e9ecf2), color-stop(74%, #ebeef3), to(white));
  background: linear-gradient(180deg, #d5dce6 0%, #dee3eb 47%, #e5e9ef 58%, #e9ecf2 68%, #ebeef3 74%, white 100%);
  width: 100%;
  height: 16.7em;
}

.title {
  color: #49515c;
  font-size: 4.9em;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  margin: 0;
  margin-left: 3em;
  padding-left: 0.6em;
  padding-top: 1.77em;
  margin-bottom: 0.7em;
  position: relative;
}

.title:after {
  content: '';
  border-bottom: 2px solid #000;
  opacity: 0.1;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.main-company {
  padding-bottom: 16.7em;
  background: white;
}

.main-company .box .box-left-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 49%;
}

.main-company .box .box-left-about img {
  width: 100%;
  position: absolute;
  top: 0.5em;
  left: -4.2em;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.main-company .box .box-left-about .nav-belt {
  position: absolute;
  bottom: -28.1em;
  width: 72.6%;
  border-right: 2.2em solid transparent;
  border-top: 4.5em solid #49515c;
}

.main-company .box .box-left-about .nav-belt div {
  height: 100%;
  color: #ffc300;
  right: 1.5em;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  top: -2.2em;
}

.main-company .box .box-right-about {
  padding: 1px;
  padding-top: 5.9em;
  width: 40.8%;
  display: inline-block;
  vertical-align: top;
}

.main-company .box .box-right-about p {
  line-height: 1.7em;
  letter-spacing: 0.48px;
  color: #49515c;
  margin: 0;
  font-size: 1.1em;
  padding-bottom: 1.7em;
}

section {
  background: white;
}

section .container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 6.2em;
}

section .container:before {
  content: '';
  display: block;
  width: 90.3%;
  border-top: 1px solid #dbdcde;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .container.no-border-top:before {
  display: none;
}

section .container .box-logo {
  margin-left: 6.2em;
  margin-top: 3.6em;
}

section .container .box-logo img {
  width: 16.8em;
}

section .container .box-data {
  text-align: right;
  padding-right: 5.7em;
}

section .container .box-data h2 {
  color: #505050;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  padding-top: 2.4em;
  letter-spacing: 0.4px;
  line-height: 30px;
}

section .container .box-data .icon-datum {
  padding-top: 13px;
}

section .container .box-data .icon-datum .ico-phone-big {
  display: none;
}

section .container .box-data div > div {
  display: inline-block;
  padding-left: 1.1em;
  padding-top: 1.25em;
}

section .container .box-data div > div img {
  vertical-align: middle;
  padding-right: 0.8em;
}

section .container .box-data div > div a {
  text-decoration: none;
  font-size: 1.12em;
  color: #007ebf;
  font-family: "Poppins";
}

section .container .box-data div > div:first-child {
  padding-right: 0.9em;
}

section .container .box-data div > div:first-child a {
  padding-right: 0.6em;
}

footer {
  text-align: center;
  padding-top: 29px;
  background: #ffc300;
}

footer .yellow-beam {
  padding-bottom: 3.4em;
  position: relative;
}

footer .yellow-beam div:first-of-type {
  margin-right: 3.1em;
}

footer .yellow-beam:after {
  content: '';
  display: block;
  border-left: 1px solid #c4a11e;
  height: 3em;
  position: absolute;
  right: 48%;
  top: 38%;
}

footer div {
  display: inline-block;
}

footer div #counter-week,
footer div #counter-all {
  font-size: 1.3em;
}

footer div #counter-week,
footer div #counter-all {
  padding-right: 0.5em;
}

footer h1,
footer p {
  font-size: 1.5em;
  line-height: 1.26em;
  color: #3b5165;
  font-weight: 400;
  font-family: "Poppins";
}

footer p {
  display: inline-block;
  margin: 0;
  padding-top: 0.3em;
  padding-left: 2.5em;
  padding-right: 1.7em;
  font-size: 1.13em;
}

footer .gray-beam {
  display: block;
  background: #3b5165;
  padding-top: 2.1em;
  padding-bottom: 2em;
  line-height: 0.63em;
  font-style: italic;
  font-family: "Muli";
}

footer .gray-beam h2,
footer .gray-beam p {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  font-weight: 300;
}

.main-tech {
  padding-bottom: 16.7em;
  padding-bottom: 108px;
  background: white;
}

.main-tech .container-tech-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7.6em;
  margin-bottom: 12.2em;
  position: relative;
}

.main-tech .container-tech-icons .box-tech-icons {
  width: 28.9em;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-tech .container-tech-icons .img-tech-icons {
  width: 100%;
  position: relative;
  height: 76px;
}

.main-tech .container-tech-icons .img-tech-icons:after {
  content: '';
  position: absolute;
  bottom: -28%;
  left: 45%;
  height: 10px;
  width: 45px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
}

.main-tech .container-tech-icons .img-tech-icons.fix-shadows:after {
  content: '';
  position: absolute;
  bottom: -28%;
  left: 45%;
  height: 10px;
  width: 45px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  left: 31%;
}

.main-tech .container-tech-icons .img-tech-icons.fix-shadows:before {
  content: '';
  position: absolute;
  bottom: -28%;
  left: 45%;
  height: 10px;
  width: 45px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  left: 61%;
}

.main-tech .container-tech-icons .img-tech-icons img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-tech .container-tech-icons .paragraph-tech-icons {
  width: 100%;
}

.main-tech .container-tech-icons .paragraph-tech-icons p {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 22px;
  color: #00318a;
  font-family: "Poppins";
  text-align: center;
  padding: 42px 46px 0 46px;
}

.main-tech .container-tech-icons:after {
  content: '';
  position: absolute;
  display: block;
  width: 77%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -61.1px;
  border-bottom: 2px solid #f8f8f9;
}

.main-tech .container-tech-describe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-tech .container-tech-describe img {
  width: 65%;
}

.main-tech .container-tech-describe .tech-desc {
  display: inline-block;
  position: absolute;
  left: 17.5em;
  top: 1.2em;
  width: 40%;
  letter-spacing: 1.11px;
  width: 55.2em;
  font-size: 1.02em;
  line-height: 1.85em;
  color: #49515c;
}

.main-tech .container-tech-describe .big-label {
  width: 35%;
  background: #49515c;
  position: relative;
}

.main-tech .container-tech-describe .big-label p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  font-family: "Poppins";
  color: white;
  margin: 0;
}

.main-tech .container-tech-describe .big-label p:nth-child(1) {
  font-size: 4em;
  opacity: 0.1;
  font-weight: bold;
  top: 4.55em;
  right: 4.5em;
}

.main-tech .container-tech-describe .big-label p:nth-child(2) {
  font-size: 8.3em;
  letter-spacing: 0.04em;
  font-weight: bold;
  bottom: 0.62em;
  left: -0.2em;
  opacity: 0.15;
}

.main-tech .container-tech-describe .big-label p:nth-child(3) {
  font-size: 3.06em;
  letter-spacing: -0.02em;
  line-height: 1.7em;
  top: 3.8em;
  left: -0.3em;
  opacity: 0.03;
}

.main-tech .container-tech-describe .big-label p:nth-child(4) {
  font-size: 9.35em;
  opacity: 0.06;
  letter-spacing: -0.05em;
  top: 0.75em;
  left: 0.18em;
  font-weight: bold;
}

.main-offer {
  background: white;
}

.main-offer header {
  margin-bottom: 0;
  height: auto;
}

.main-offer header p {
  width: 67.7em;
  font-size: 1.2em;
  letter-spacing: 0.12em;
  line-height: 1.6em;
  color: #49515c;
  margin: 0;
  margin-left: 14.8em;
  padding-top: 0.7em;
}

.main-offer header .main-yellow-box {
  margin-top: 4.2em;
  height: 10em;
  background: #ffc300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-offer header .main-yellow-box a {
  text-decoration: none;
  padding: 0.6em 2.2em 0.6em 2.5em;
  color: #FFC300;
  margin-right: 2em;
  background: #555555;
  font-size: 1.3em;
  letter-spacing: -0.02em;
  line-height: 30px;
  color: #ffc300;
}

.main-offer .offer-title {
  position: relative;
  margin-top: 10em;
  z-index: 1;
}

.main-offer .offer-title::after {
  content: '';
  border-right: 2.9em solid #555555;
  height: 11em;
  position: absolute;
  right: 4.7em;
  top: 6.3em;
  opacity: 0.34;
}

.main-offer .offer-title:before {
  content: '';
  border-bottom: 1px solid #d6dbdf;
  width: 91%;
  position: absolute;
  bottom: -5.3em;
  left: 0;
}

.main-offer .offer-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: 7em;
  color: #3b5165;
  display: inline-block;
  font-weight: 300;
  margin-right: 0;
  position: absolute;
  top: -0.2em;
  right: 1.5em;
}

.main-offer .offer-title p {
  display: inline-block;
  width: 52.1em;
  margin-left: 5em;
  font-size: 1.32em;
  letter-spacing: 0.08em;
  color: #3b5165;
  font-family: "Poppins", sans-serif;
  margin-top: 6.4em;
  margin-left: 3.9em;
}

.main-offer .developer-beam {
  background: #ffd200;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 10.5em;
  bottom: -2em;
  width: 24.5em;
  height: 3.2em;
}

.main-offer .developer-beam p {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  width: 100%;
  letter-spacing: 0.02em;
  left: -0.8em;
  top: 0.7em;
}

.main-offer .house-section .offer-box {
  background-image: url(../img/offer/house_background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -2.5em;
  z-index: 0;
}

.main-offer .house-section .offer-box .offer-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 14.7em;
  padding-bottom: 9.2em;
  border-bottom: 1px solid #e7e8e5;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info {
  color: #3b5165;
  margin-left: 5.2em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info h3 {
  font-size: 1.3em;
  letter-spacing: 0.11em;
  line-height: 1.1em;
  font-weight: 500;
  font-family: "Poppins";
  margin-top: 0.4em;
  margin-bottom: 1.6em;
  margin-left: 1.5em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p {
  letter-spacing: 0.1em;
  line-height: 1.49em;
  font-family: "Poppins";
  position: relative;
  margin-left: 2.1em;
  margin-bottom: 1.2em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p.p-edit::after {
  top: 0.7em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p.p-edit::before {
  top: 1.3em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p::after {
  content: '';
  width: 0.8em;
  height: 0.8em;
  display: block;
  background: #000;
  position: absolute;
  left: -2.1em;
  top: 0.4em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p::before {
  content: '';
  width: 0.7em;
  height: 0.7em;
  background: #c3c3c3;
  position: absolute;
  left: -1.7em;
  top: 1em;
  -webkit-box-shadow: 0px 0px 3px 0.5px #c3c3c3, 0px 0px 5px 2.5px #c3c3c3;
          box-shadow: 0px 0px 3px 0.5px #c3c3c3, 0px 0px 5px 2.5px #c3c3c3;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p .size-medium {
  font-size: 1.7em;
  position: relative;
  top: -0.2em;
  vertical-align: middle;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info > p .size-medium .number-square {
  font-size: 0.6em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price {
  background: #3b5165;
  margin-top: 8.8em;
  width: 39.8em;
  color: #c5cbd1;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-family: "Poppins", sans-serif;
  padding-top: 1.2em;
  padding-left: 3em;
  position: relative;
  z-index: 1;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price,
.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time {
  display: inline-block;
  letter-spacing: 0em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time {
  border: 1px solid #7f7e42;
  vertical-align: top;
  margin-top: 2.7em;
  margin-left: 1.9em;
  width: 17.6em;
  padding-bottom: 3.4em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time .time-all {
  letter-spacing: 0;
  padding-top: 0.2em;
  font-style: italic;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time p {
  font-size: 1.1em;
  line-height: 1.5em;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-bottom: -1.5em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time .time-important {
  color: #ffd200;
  font-size: 1.5em;
  letter-spacing: 0.01em;
  font-style: italic;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .instalation {
  margin-top: 3.4em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price p {
  margin-bottom: 0.8em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium {
  font-size: 1.5em;
  line-height: 1.1em;
  color: #ffd200;
  font-family: "Poppins";
  margin-top: 0.9em;
  font-weight: normal;
  letter-spacing: 0.11em;
  padding-left: 0.5em;
  font-style: italic;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium .price-big {
  font-weight: 700;
  font-size: 2.5em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium .price-separate {
  padding-left: 4.1em;
  font-weight: 300;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-to-m2 {
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ffd200;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  letter-spacing: 0.05em;
  padding: 0.3em 0px 0.8em 1.8em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-to-m2 sup {
  font-size: 0.7em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo {
  position: relative;
  left: -4.8em;
  width: 51.5%;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .shadow-mirror {
  width: 105%;
  height: 30%;
  z-index: -1;
  position: absolute;
  bottom: -9.5em;
  left: -1.2em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn {
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 1em;
  display: inline-block;
  position: absolute;
  right: 1.3em;
  bottom: 1.5em;
  width: 20em;
  height: 3em;
  background: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn:hover {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #ffd200;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn:hover p {
  color: #ffd200;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn:hover span {
  border: 1px solid #ffd200;
  border: 1px solid rgba(255, 210, 0, 0.7);
  background: black;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn p {
  padding-top: 0.5em;
  padding-left: 1.5em;
  margin: 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.7em;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins";
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn span {
  display: block;
  position: absolute;
  width: 1.7em;
  height: 1.5em;
  background: #6d6c6e;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.6);
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn span:nth-child(1) {
  right: 2.6em;
  bottom: 2.5em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn span:nth-child(2) {
  right: 1.3em;
  bottom: 1.9em;
}

.main-offer .house-section .offer-box .offer-box-wrapper .offer-photo .gallery-btn span:nth-child(3) {
  right: 2.2em;
  bottom: 1.3em;
}

.main-offer .row-section {
  overflow: hidden;
}

.main-offer .row-section .offer-title {
  margin-top: 3em;
}

.main-offer .row-section .offer-title .developer-beam p {
  margin-top: 0em;
  margin-left: 0em;
  text-align: center;
  width: 100%;
  left: 0;
}

.main-offer .row-section .offer-title h2 {
  position: relative;
  top: auto;
  right: auto;
  margin-left: 1.4em;
  margin-top: 0.4em;
}

.main-offer .row-section .offer-title p {
  position: absolute;
  margin-top: 5.7em;
  margin-left: 5.4em;
  text-align: right;
  width: 44.1em;
}

.main-offer .row-section .offer-title::after {
  left: 5.1em;
  top: 5.2em;
  right: auto;
}

.main-offer .row-section .offer-title:before {
  bottom: -0.6em;
  right: 0;
  left: auto;
}

.main-offer .row-section .offer-box {
  background-image: none;
  padding-bottom: 4.2em;
}

.main-offer .row-section .offer-box .img-background-top,
.main-offer .row-section .offer-box .img-background-bottom {
  position: absolute;
  top: -4.6em;
  right: -1.3em;
  width: 73.8%;
  height: 53%;
  -webkit-transform: rotateX(24deg);
          transform: rotateX(24deg);
  z-index: 0;
}

.main-offer .row-section .offer-box .img-background-bottom {
  top: auto;
  right: auto;
  bottom: 1.1em;
  height: 93%;
  width: 81.4%;
  z-index: -1;
}

.main-offer .row-section .offer-box .offer-box-wrapper {
  padding-bottom: 12.9em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-photo {
  left: 5.1em;
  top: -1em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-photo .shadow-mirror {
  bottom: -8.3em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info {
  position: relative;
  left: -15.2em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info > p {
  margin-left: -1.3em;
  top: -2em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .size-medium .number-square {
  font-size: 0.5em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .offer-box-price {
  position: absolute;
  left: -3.4em;
  margin-top: 10.7em;
  width: 39em;
  height: 14.4em;
  padding-top: 0;
  padding-left: 2.5em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price {
  padding-top: 1.1em;
  letter-spacing: 0.1em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium {
  padding-left: 0em;
  padding-top: 1.6em;
  margin-bottom: 0.4em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-to-m2 {
  padding-left: 0em;
  padding-top: 0em;
  margin-top: 0em;
}

.main-offer .row-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time {
  margin-top: 1.6em;
  margin-left: 2.6em;
}

.main-offer .multi-section {
  border-bottom: 1px solid #e7e8e5;
}

.main-offer .multi-section .offer-title::after {
  height: 16.9em;
  top: 6.5em;
}

.main-offer .multi-section .offer-title:before {
  bottom: -3.3em;
}

.main-offer .multi-section .offer-title h2 {
  margin-right: -0.2em;
  top: -0.16em;
}

.main-offer .multi-section .offer-title .developer-beam {
  left: auto;
  width: 30.3em;
  right: 10.6em;
  bottom: -4.8em;
}

.main-offer .multi-section .offer-title .developer-beam p {
  margin-top: 0.7em;
  width: 100%;
  margin-left: 3.3em;
}

.main-offer .multi-section .offer-title p {
  margin-top: 11em;
  width: 50.7em;
}

.main-offer .multi-section .offer-box {
  background-image: none;
  top: 12.5em;
  z-index: 0;
}

.main-offer .multi-section .offer-box .img-background {
  position: absolute;
  width: 65.3%;
  z-index: -1;
}

.main-offer .multi-section .offer-box .offer-box-wrapper {
  padding-top: 1.7em;
  padding-bottom: 28.1em;
  margin-bottom: 0em;
  border-bottom: none;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price {
  margin-top: 14.9em;
  width: 39.5em;
  height: 13.1em;
  padding-left: 1.8em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium {
  margin-top: 0.8em;
  padding-left: 0.2em;
  line-height: 1.5em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium .price-big {
  font-weight: 700;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price p {
  padding-left: 3.9em;
  padding-top: 0.6em;
  letter-spacing: 0.1em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time {
  margin-top: 0em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time p {
  padding-left: 0em;
  padding-top: 1.2em;
  letter-spacing: 0em;
  line-height: 0em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time .instalation {
  margin-top: 4.2em;
  padding-bottom: 1em;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-photo {
  top: 0.8em;
  height: 100%;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-photo img {
  height: 98%;
}

.main-offer .multi-section .offer-box .offer-box-wrapper .offer-photo .shadow-mirror {
  z-index: -1;
  bottom: -11em;
}

.main-offer .garage-section {
  position: relative;
}

.main-offer .garage-section .offer-title {
  height: 25.3em;
  margin-top: 3.9em;
}

.main-offer .garage-section .offer-title h2 {
  padding-top: 1.1em;
  line-height: 0.8;
}

.main-offer .garage-section .offer-title h2 span {
  font-size: 0.6em;
  letter-spacing: 0.04em;
}

.main-offer .garage-section .offer-title p {
  width: 31.8em;
  margin: 0;
  right: 4.3em;
  bottom: 3.2em;
}

.main-offer .garage-section .offer-title::after {
  top: 10.9em;
}

.main-offer .garage-section .offer-title::before {
  bottom: 0em;
  width: 91.5%;
}

.main-offer .garage-section .offer-box {
  background: none;
  padding-bottom: 6.2em;
}

.main-offer .garage-section .offer-box .img-background {
  position: absolute;
  left: 21.1em;
  top: 0.5em;
  z-index: -1;
  width: 81.2%;
}

.main-offer .garage-section .offer-box .offer-box-wrapper {
  padding-bottom: 12.4em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-photo {
  top: -1.5em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-photo .shadow-mirror {
  z-index: -1;
  bottom: -14em;
  height: 36.4%;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info {
  top: -0.5em;
  left: -6.2em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info > p .size-medium {
  font-weight: 500;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price {
  margin-top: 0em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price {
  padding-top: 0.1em;
  padding-left: 0.9em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium {
  margin-bottom: 0em;
  padding-top: 0.5em;
  line-height: 1.8em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium .price-separate {
  padding-left: 0.3em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium sup {
  font-size: 0.6em;
}

.main-offer .garage-section .offer-box .offer-box-wrapper .offer-info .offer-box-price.box-price-second {
  bottom: 0.8em;
}

.main-offer .office-section {
  padding-bottom: 6.5em;
  border-bottom: 1px solid #e7e8e5;
}

.main-offer .office-section .offer-title {
  margin-top: 7.9em;
}

.main-offer .office-section .offer-title h2 {
  right: 1.3em;
}

.main-offer .office-section .offer-title p {
  margin-top: 8em;
  width: 53.1em;
  line-height: 1.7;
}

.main-offer .office-section .offer-title::after {
  top: 6.6em;
}

.main-offer .office-section .offer-title::before {
  bottom: -3.2em;
  width: 91.5%;
}

.main-offer .office-section .offer-box {
  background: none;
  top: -2.9em;
}

.main-offer .office-section .offer-box .img-background {
  position: absolute;
  width: 86.4%;
  bottom: -9.4em;
  -webkit-transform: skewX(-2deg);
          transform: skewX(-2deg);
  z-index: -1;
}

.main-offer .office-section .offer-box .offer-box-wrapper {
  padding-top: 10.7em;
  border-bottom: none;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info {
  position: relative;
  top: 1.3em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price {
  margin-top: 3.7em;
  width: 38.4em;
  padding-top: 0em;
  padding-bottom: 1.8em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price p {
  line-height: 2.7em;
  padding-left: 0.8em;
  letter-spacing: 0.1em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium {
  padding-left: 0.1em;
  line-height: 1.6em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-medium .price-separate {
  letter-spacing: 0.05em;
  padding-left: 0.1em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-info {
  margin: 0;
  line-height: 0.5em;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 600;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-second {
  margin-top: 2.3em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .price-second p {
  padding-left: 0em;
  letter-spacing: 0em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time {
  position: absolute;
  right: 1.5em;
  top: 2.5em;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-info .offer-box-price .time p {
  padding-left: 0;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-photo {
  top: 2.3em;
  display: table;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-photo img {
  height: auto;
}

.main-offer .office-section .offer-box .offer-box-wrapper .offer-photo .shadow-mirror {
  bottom: -12.2em;
}

section .container-offer {
  padding-top: 16em;
  padding-bottom: 6em;
}

section .container-offer:before {
  display: none;
}

@media (max-width: 1820px) {
  header #nav {
    right: 11em;
  }
  header #nav li {
    margin-right: 4.7em;
  }
}

@media (max-width: 1720px) {
  header #nav {
    right: 9em;
  }
  header #nav li {
    margin-right: 3.7em;
    font-size: 1.1em;
  }
  .nav-belt div p {
    font-size: 10.5px;
  }
}

@media (max-width: 1366px) {
  header #nav {
    right: 4em;
  }
}

@media (max-width: 1300px) {
  body {
    font-size: 0.934vw;
  }
  header #nav li {
    margin-right: 2.5em;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 1.034vw;
  }
  section .container .box-data h2 {
    width: 47em;
  }
}

@media (max-width: 1000px) {
  body {
    font-size: 1.234vw;
  }
  header img {
    margin-left: 7%;
  }
  header #nav {
    right: 1em;
  }
  .nav-belt {
    width: 51.5em;
  }
  .main-company .box .box-left-about .nav-belt {
    width: 87.6%;
  }
  section .container .box-data h2 {
    width: 35em;
  }
}

@media (max-width: 880px) {
  body {
    font-size: 1.35vw;
  }
  .main-company {
    padding-bottom: 9em;
  }
  .main-company .box .box-left-about .nav-belt div {
    right: 0em;
  }
}

@media (max-width: 800px) {
  header {
    height: 85px;
  }
  header .menu {
    width: 29px;
    right: 31px;
  }
  header img {
    margin-left: 44px;
    width: 213px;
  }
  header .hide-desktop {
    display: none;
  }
  header .hide-mobile {
    display: block;
  }
  .nav-belt {
    width: 79.5%;
    bottom: -85px;
  }
  .nav-belt div p {
    margin-left: 2.3em;
  }
  .title {
    margin-left: 0.2em;
    padding-top: 1.9em;
  }
  .title:after {
    bottom: -8px;
  }
  .main-company .box .box-left-about {
    width: 100%;
    position: absolute;
    top: 43.1em;
    z-index: 1;
    background-image: url(../img/construction.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
  }
  .main-company .box .box-left-about img {
    display: none;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle {
    bottom: -37.8em;
    border-right-width: 3.1em;
    border-top-width: 6.8em;
    width: 78.1%;
    position: relative;
    height: 0;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle .belt-middle {
    position: relative;
    font-size: 1.7em;
    right: 2.4em;
    top: -2.2em;
  }
  .main-company .box .box-right-about {
    position: relative;
    z-index: 1;
    font-size: 1.6em;
    padding-left: 2.4em;
    padding-top: 0.3em;
    width: 92.6%;
    margin-bottom: 4em;
  }
  .main-company .box .box-right-about p {
    padding-bottom: 1.3em;
    line-height: 1.7em;
    letter-spacing: 0em;
  }
  section .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4.8em;
  }
  section .container .box-logo {
    display: none;
  }
  section .container .box-data {
    padding-right: 0em;
    text-align: center;
  }
  section .container .box-data h2 {
    padding-top: 5.2em;
    margin-top: 0;
    width: 42em;
    font-size: 1.3em;
  }
  section .container .box-data .icon-datum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-left: 1.2em;
    padding-top: 22px;
  }
  section .container .box-data .icon-datum > div a {
    font-size: 1.9em;
    vertical-align: sub;
  }
  section .container:before {
    display: none;
  }
  footer {
    padding-top: 0;
    margin-top: 3.6em;
    height: 16.2em;
  }
  footer .yellow-beam {
    padding-bottom: 0em;
    height: 16.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .yellow-beam h1 {
    font-size: 2.2em;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 1.8em;
    margin-bottom: 0;
  }
  footer .yellow-beam div {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    padding-bottom: 2.2em;
    margin-right: 1.2em;
    margin-top: -0.8em;
  }
  footer .yellow-beam div p {
    font-size: 1.4em;
    padding: 0;
  }
  footer .yellow-beam div p #counter-all,
  footer .yellow-beam div p #counter-week {
    font-size: 1.6em;
  }
  footer .yellow-beam::after {
    top: 50%;
    right: 49.5%;
    height: 4.5em;
  }
  footer .gray-beam {
    height: 4.9em;
    font-size: 1.4em;
    padding-top: 1.9em;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    padding-bottom: 0em;
    text-align: center;
  }
  footer .gray-beam p {
    padding: 0;
    padding-top: 0.3em;
  }
}

@media (max-width: 640px) {
  header img {
    width: 161px;
  }
  .nav-belt {
    border: none;
    height: 60px;
    width: 100%;
    position: relative;
  }
  .nav-belt .nav-belt-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    height: 100%;
  }
  .nav-belt .container-address {
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0;
  }
  .nav-belt .container-address span:first-child {
    padding-top: 6px;
  }
  .nav-belt .container-address .edit-coma {
    display: none;
  }
  .nav-belt .container-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .nav-belt span p {
    margin: 0;
  }
  .nav-belt div p {
    margin: 3px;
    font-size: 1.4em;
  }
  .nav-belt::after {
    content: '';
    width: 90%;
    border-bottom: 1px solid #c8cfda;
    position: absolute;
    bottom: -8px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .title {
    padding-top: 2.8em;
    z-index: 1;
  }
  .title::after {
    width: 90%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom-width: 1px;
  }
  .main-company {
    padding-bottom: 15em;
  }
  .main-company .box .box-left-about {
    top: 33em;
    height: 62em;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle {
    width: 95%;
    border-right: none;
    border-top: none;
    bottom: -61em;
    margin: 0 auto;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle .belt-middle {
    height: 93px;
    background: #49515c;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    right: 0;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle::after {
    display: none;
  }
  .main-company .box .box-right-about {
    width: 93%;
    padding: 15px;
  }
  .main-company .box .box-right-about p {
    font-weight: 600;
    margin-right: 0;
  }
  section {
    position: relative;
    z-index: 0;
  }
  section .container .box-data .icon-datum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 4em;
    padding-left: 0em;
  }
  section .container .box-data .icon-datum .ico-phone-big {
    display: inline;
    padding-right: 30px;
  }
  section .container .box-data .icon-datum .ico-phone {
    display: none;
  }
  section .container .box-data .icon-datum .ico-phone-container {
    padding: 0;
    padding-bottom: 2.1em;
  }
  section .container .box-data h2 {
    margin: 0 auto;
    width: 95%;
    font-size: 1.6em;
  }
  footer {
    height: auto;
  }
  footer .yellow-beam {
    margin-left: 9em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 4.5em 0em 4.6em 0em;
    height: auto;
  }
  footer .yellow-beam h1 {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0;
    font-size: 3.2em;
    margin-bottom: 0.7em;
  }
  footer .yellow-beam div {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
    margin: 0;
    margin-top: 2.7em;
  }
  footer .yellow-beam div p {
    font-size: 1.8em;
  }
  footer .yellow-beam::after {
    display: none;
  }
  footer .gray-beam {
    font-size: 1.7em;
  }
}

@media (max-width: 540px) {
  body {
    font-size: 1.55vw;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle {
    bottom: -69em;
  }
  .nav-belt-middle div p {
    color: #ffc300;
    text-align: center;
    margin: 10px;
  }
}

@media (max-width: 440px) {
  body {
    font-size: 1.75vw;
  }
  .main-company {
    padding-bottom: 20em;
  }
  .main-company .box .box-right-about {
    width: 85%;
    margin: 0 auto;
    padding: 0;
    display: block;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle {
    bottom: -75em;
    width: 85%;
  }
  section .container {
    width: 85%;
    margin: 0 auto;
  }
  section .container .box-data h2 {
    line-height: 2.6em;
    font-size: 1.7em;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 2.25vw;
  }
  .main-company .box .box-left-about .nav-belt.nav-belt-middle {
    bottom: -85em;
  }
  .ico-email-container img {
    width: 6.9em;
  }
  footer .yellow-beam {
    margin-left: 5em;
  }
}
/*# sourceMappingURL=main.css.map */