body {
  background: gray;
  margin: 0;
  font-family: "Muli", "Poppins", sans-serif;
  font-size: 0.834vw;
}

.nav-belt {
  width: 58.5em;
  border-right: 19px solid transparent;
  border-top: 37px solid #aab0b8;
  position: relative;
  bottom: -96px;
  z-index: 1;
}

.nav-belt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 37px;
  width: 100%;
  position: absolute;
  top: -37px;
}

.nav-belt div p {
  opacity: 1;
  position: relative;
  margin-left: 4.7em;
  font-size: 12px;
  color: #555555;
  font-weight: 300;
  font-style: italic;
  font-family: "Muli", sans-serif;
  letter-spacing: -0.5px;
}

.nav-belt div p:last-child {
  margin-right: 22px;
}

.nav-belt div p a {
  text-decoration: none;
  color: #555555;
}

.nav-belt div p a .bold {
  font-weight: bold;
}

header {
  height: 96px;
  background: white;
  padding: 0;
  margin: 0;
  position: relative;
}

header img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 18.7%;
  width: 269px;
}

header ul {
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  list-style: none;
  font-family: 'Muli', sans-serif;
}

header ul li {
  display: inline-block;
  margin-right: 3.1em;
  font-size: 1em;
  color: #151720;
}

header ul li a {
  color: inherit;
  text-decoration: none;
}

header ul li:last-of-type {
  margin-right: 2.8em;
}

header ul li .bold {
  font-weight: bold;
}

header #nav {
  font-size: 1.13em;
  text-align: left;
  right: 10.5%;
}

header #nav li {
  margin-right: 6.1em;
}

.main-page {
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  font-size: 1.53vh;
  height: calc(100vh - 96px);
}

.main-page > div {
  z-index: 1;
  color: white;
  display: inline-block;
  position: relative;
  padding-top: 5.1em;
  width: 47%;
  font-family: "Poppins";
}

.main-page > div h1 {
  font-size: 5.1em;
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  padding-right: 0.61em;
  line-height: 1.2em;
  letter-spacing: -4px;
  font-weight: normal;
}

.main-page > div .box-blue {
  background: rgba(21, 35, 56, 0.6);
  height: 6.9em;
  position: relative;
}

.main-page > div .box-blue p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2.2em;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 300;
}

.main-page > div .box-yellow {
  background: #ffc300;
  color: #162132;
  font-weight: 600;
  display: inline-block;
  padding: 0.62em 2.4em 0.62em 2.64em;
  font-size: 1.3em;
}

.main-page .main-left {
  text-align: right;
}

.main-page .main-left::before {
  content: '';
  display: block;
  border-top: 3px solid white;
  width: 40em;
  position: absolute;
  right: 0;
}

.main-page .main-right {
  font-size: 2.8em;
  letter-spacing: -2px;
}

.main-page .main-right p {
  padding-left: 3.46em;
  line-height: 1.72em;
  margin: 0;
  bottom: 0.2em;
  position: relative;
}

.main-page .main-right p::before {
  content: '';
  left: 2.53em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.14em;
  height: 0.14em;
  background: white;
}

.main-page .main-right::after {
  content: '';
  position: absolute;
  bottom: 1.34em;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 2.01em 1.8em rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 2.01em 1.8em rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  width: 8.5em;
  height: 6.2em;
  z-index: -1;
  left: 2.24em;
}

.main-page nav {
  text-align: center;
  padding-top: 6.25em;
  padding-bottom: 5.19em;
}

.main-page nav ul {
  list-style: none;
  margin: 0;
}

.main-page nav ul li {
  position: relative;
  width: 23.44em;
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
  margin-right: 3.1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-page nav ul li a {
  line-height: 5.4em;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  display: block;
}

.main-page nav ul li:hover {
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main-page nav ul li:hover a {
  color: #ffc300;
}

.main-page nav ul li:hover::before {
  -webkit-box-shadow: -9px 0px 30px 24px rgba(255, 195, 0, 0.1), 0 4px 4px 0 rgba(255, 195, 0, 0.15);
          box-shadow: -9px 0px 30px 24px rgba(255, 195, 0, 0.1), 0 4px 4px 0 rgba(255, 195, 0, 0.15);
}

.main-page nav ul li:before {
  content: '';
  border-left: 6px solid #ffc300;
  position: absolute;
  left: -8px;
  margin-right: 0.7em;
  height: 100%;
}

.main-company {
  padding-bottom: 16.7em;
  background: white;
}

.main-company .gradient {
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d5dce6), color-stop(47%, #dee3eb), color-stop(58%, #e5e9ef), color-stop(68%, #e9ecf2), color-stop(74%, #ebeef3), to(white));
  background: linear-gradient(180deg, #d5dce6 0%, #dee3eb 47%, #e5e9ef 58%, #e9ecf2 68%, #ebeef3 74%, white 100%);
  width: 100%;
  height: 18.7em;
}

.main-company h1 {
  color: #49515c;
  font-size: 4.9em;
  font-weight: 400;
  font-family: "Muli", sans-serif;
  margin: 0;
  margin-left: 3em;
  padding-left: 0.6em;
  padding-top: 1.77em;
  margin-bottom: 0.7em;
  position: relative;
}

.main-company h1:after {
  content: '';
  border-bottom: 2px solid #000;
  opacity: 0.1;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.main-company .box .box-left-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 49%;
}

.main-company .box .box-left-about img {
  width: 100%;
  position: absolute;
  top: 0.5em;
  left: -4.2em;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.main-company .box .box-left-about .nav-belt {
  position: absolute;
  bottom: -28.1em;
  width: 72.6%;
  border-right: 2.2em solid transparent;
  border-top: 4.5em solid #49515c;
}

.main-company .box .box-left-about .nav-belt div {
  height: 100%;
  color: #ffc300;
  right: 2.5em;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  top: -2.2em;
}

.main-company .box .box-right-about {
  padding: 1px;
  padding-top: 5.9em;
  width: 40.8%;
  display: inline-block;
  vertical-align: top;
}

.main-company .box .box-right-about p {
  line-height: 1.7em;
  letter-spacing: 0.48px;
  color: #49515c;
  margin: 0;
  font-size: 1.1em;
  padding-bottom: 1.7em;
}

section {
  background: white;
  padding-bottom: 6.2em;
}

section .container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section .container:before {
  content: '';
  display: block;
  width: 90.3%;
  border-top: 1px solid #dbdcde;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .container .box-logo {
  margin-left: 6.2em;
  margin-top: 3.6em;
}

section .container .box-logo img {
  width: 16.8em;
}

section .container .box-data {
  text-align: right;
  padding-right: 5.7em;
}

section .container .box-data h2 {
  padding-top: 20px;
  color: #505050;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  padding-top: 32px;
  letter-spacing: 0.4px;
  line-height: 30px;
}

section .container .box-data .icon-datum {
  padding-top: 13px;
}

section .container .box-data div > div {
  display: inline-block;
  padding-left: 1.1em;
  padding-top: 1.25em;
}

section .container .box-data div > div img {
  vertical-align: middle;
  padding-right: 0.8em;
}

section .container .box-data div > div a {
  text-decoration: none;
  font-size: 1.12em;
  color: #007ebf;
  font-family: "Poppins";
}

section .container .box-data div > div:first-child {
  padding-right: 0.9em;
}

section .container .box-data div > div:first-child a {
  padding-right: 0.6em;
}

footer {
  text-align: center;
  padding-top: 29px;
  background: #ffc300;
}

footer .yellow-beam {
  padding-bottom: 3.4em;
  position: relative;
}

footer .yellow-beam div:first-of-type {
  margin-right: 3.1em;
}

footer .yellow-beam:after {
  content: '';
  display: block;
  border-left: 1px solid #c4a11e;
  height: 3em;
  position: absolute;
  right: 48%;
  top: 38%;
}

footer div {
  display: inline-block;
}

footer div #counter-week, footer div #counter-all {
  font-size: 1.3em;
}

footer div #counter-week {
  padding-right: 0.5em;
}

footer h1, footer p {
  font-size: 1.5em;
  line-height: 1.26em;
  color: #3b5165;
  font-weight: 400;
  font-family: "Poppins";
}

footer p {
  display: inline-block;
  margin: 0;
  padding-top: 0.3em;
  padding-left: 2.5em;
  padding-right: 1.7em;
  font-size: 1.13em;
}

footer .gray-beam {
  display: block;
  background: #3b5165;
  padding-top: 2.1em;
  padding-bottom: 2em;
  line-height: 0.63em;
  font-style: italic;
  font-family: "Muli";
}

footer .gray-beam h2, footer .gray-beam p {
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  font-weight: 300;
}

@media (max-width: 1820px) {
  header #nav {
    right: 11em;
  }
  header #nav li {
    margin-right: 4.7em;
  }
}

@media (max-width: 1720px) {
  header #nav {
    right: 9em;
  }
  header #nav li {
    margin-right: 3.7em;
    font-size: 1.1em;
  }
  .nav-belt div p {
    font-size: 10.5px;
  }
}

@media (max-width: 1366px) {
  body {
    font-size: 0.934vw;
  }
  header #nav {
    right: 4em;
  }
}
/*# sourceMappingURL=main.css.map */