@mixin perpendicularly-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontally-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$color-yellow: #ffc300;

body {
    background: green;
    margin: 0;
    font-family: "Muli", "Poppins", sans-serif;
    font-size: 16px;
}

header {
    height: 96px;
    background: white;
    padding: 0;
    margin: 0;
    position: relative;

    img {
        @include perpendicularly-center();
        margin-left: 18.7%;
    }

    ul {
        right: 0;
        @include perpendicularly-center();
        margin: 0;
        list-style: none;
        font-family: 'Muli', sans-serif;

        li {
            display: inline-block;
            margin-right: 65px;
            font-size: 1em;
            color: #151720;

            a{
                color: inherit;
                text-decoration: none;
            }

            &:last-of-type {
                margin-right: 45px;
            }

            .bold {
                font-weight: bold;
            }
        }
    }
}

section {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;

    height: 100%;

    >div {
        z-index: 1;
        color: white;
        display: inline-block;
        position: relative;
        padding-top: 264px;
        width: 47%;
        font-family: "Poppins";

        h1 {
            font-size: 5.1em;
            margin-top: 30px;
            margin-bottom: 30px;
            line-height: 98px;
            letter-spacing: -4px;
            font-weight: normal;
            padding-right: 50px;
        }

        .box-blue {
            background: rgba(21, 35, 56, .6);
            height: 110px;
            position: relative;

            p {
                position: absolute;
                top: 50%;
                right: 50px;
                transform: translateY(-50%);
                margin: 0;
                font-size: 1.4em;
                line-height: 33px;
                font-weight: 300;
            }
        }

        .box-yellow {
            background: $color-yellow;
            color: #162132;
            font-weight: 600;
            display: inline-block;
            padding: 13px 50px 13px 55px;
            font-size: 1.3em;
        }
    }

    .main-left {
        text-align: right;

        &::before {
            content: '';
            display: block;
            border-top: 3px solid white;
            width: 661px;
            position: absolute;
            right: 0;
        }
    }

    .main-right {
        font-size: 2.8em;
        letter-spacing: -2px;

        p {
            padding-left: 155px;
            line-height: 77px;
            margin: 0;
            bottom: 9px;
            position: relative;

            &::before {
                content: '';
                left: 120px;
                @include perpendicularly-center();
                width: 6px;
                height: 6px;
                background: white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 60px;
            background: rgba(black, 0.4);
            box-shadow: 0 0 90px 80px rgba(black, 0.4);
            border-radius: 40px;
            width: 380px;
            height: 45%;
            z-index: -1;
            left: 100px;
        }
    }

    nav {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 83px;

        ul {
            list-style: none;
            margin: 0;

            li {
                position: relative;
                width: 375px;
                background: rgba(black, 0.4);
                display: inline-block;
                margin-right: 50px;

                a {
                    line-height: 112px; //Wyśrodkowanie tekstu w pionie oraz ustawienie szerokości przycisku
                    text-decoration: none;
                    color: white;
                    font-size: 1.3em;
                    display: block;
                }

                &:before {
                    content: '';
                    border-left: 6px solid $color-yellow;
                    position: absolute;
                    left: -8px;
                    margin-right: 10px;
                    height: 100%;
                }
            }
        }
    }
}

@media(max-width: 1500px) {
    body{
        font-size: 14px;
    }

    header{
        img{
            margin-left: 14.5%;
        }

        ul li{
            margin-right: 50px;
        }
    } 
}


@media(max-width: 1333px) {

    body {
        font-size: 12px;
    }

    header{

        img{
            margin-left: 10%;
        }

        ul{
            li{
                margin-right: 35px;
            }
        }
    }

    section {

        >div {
            width: 45.3%;
        }
        
        .main-left::before {
            width: 530px;
        }

footer {
    text-align: center;
    padding-top: 29px;
    background: $color-yellow;

    .yellow-beam{
        padding-bottom: 3.4em;
        position: relative;

        div:first-of-type{
            margin-right: 3.1em;
        }

        &:after{
            content: '';
            display: block;
            border-left: 1px solid #c4a11e;
            height: 3em;
            position: absolute;
            right: 48%;
            top: 38%;
        }
    }

    div{
        display: inline-block;
    
        #counter-week, #counter-all{
            font-size: 1.3em;
        }

        #counter-week{
            padding-right: 0.5em;
        }
    }

    h1, p{
        font-size: 1.5em;
        line-height: 1.26em;
        color: #3b5165;
        font-weight: 400;
        font-family: "Poppins";
    }

    p{
        display: inline-block;
        margin: 0;
        padding-top: 0.3em;
        padding-left: 2.5em;
        padding-right: 1.7em;
        font-size: 1.13em;
    }

    .gray-beam{
        display: block;
        background: #3b5165;
        padding-top: 2.1em;
        padding-bottom: 2em;
        line-height: 0.63em;
        font-style: italic;
        font-family: "Muli";

        h2, p{
            margin: 0;
            font-size: 1em;
            color: #ffffff;
            font-weight: 300;
        }
    }
}

        nav {
            padding-top: 108px;
            padding-bottom: 89px;

            ul {
                li {
                    width: 300px;
                    height: 40%;

                    a {
                        line-height: 100px;
                    }
                }
            }
        }
    }
}