@mixin perpendicularly-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin horizontally-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$color-yellow: #ffc300;

body {
    background: gray;
    margin: 0;
    font-family: "Muli", "Poppins", sans-serif;
    font-size: 0.834vw;
}

.nav-belt {
    width: 58.5em;
    border-right: 19px solid transparent;
    // border-top: 2.3em solid #aab0b8;
    border-top: 37px solid #aab0b8;
    position: relative;
    bottom: -96px;
    z-index: 1;

    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // height: 2.2em;
        height: 37px;
        width: 100%;
        position: absolute;
        // top: -2.2em;
        top: -37px;

        p {
            opacity: 1;
            position: relative;
            margin-left: 4.7em;
            // font-size: 0.75em;
            font-size: 12px;
            color: #555555;
            font-weight: 300;
            font-style: italic;
            font-family: "Muli", sans-serif;
            letter-spacing: -0.5px;

            &:last-child {
                margin-right: 22px;
            }

            a {
                text-decoration: none;
                color: #555555;

                .bold {
                    font-weight: bold;
                }
            }
        }
    }
}

header {
    height: 96px;
    background: white;
    padding: 0;
    margin: 0;
    position: relative;

    img {
        @include perpendicularly-center();
        margin-left: 18.7%;
        width: 269px;
    }

    ul {
        right: 0;
        @include perpendicularly-center();
        margin: 0;
        list-style: none;
        font-family: 'Muli', sans-serif;

        li {
            display: inline-block;
            margin-right: 3.1em;
            font-size: 1em;
            color: #151720;

            a {
                color: inherit;
                text-decoration: none;
            }

            &:last-of-type {
                margin-right: 2.8em;
            }

            .bold {
                font-weight: bold;
            }
        }
    }

    #nav {
        font-size: 1.13em;
        text-align: left;
        right: 10.5%;

        li {
            margin-right: 6.1em;
        }
    }
}

.main-page {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
    font-size: 1.53vh;
    height: calc(100vh - 96px);

    >div {
        z-index: 1;
        color: white;
        display: inline-block;
        position: relative;
        padding-top: 5.1em;
        width: 47%;
        font-family: "Poppins";

        h1 {
            font-size: 5.1em;
            margin-top: 0.4em;
            margin-bottom: 0.3em;
            padding-right: 0.61em;
            line-height: 1.2em;
            letter-spacing: -4px;
            font-weight: normal;
        }

        .box-blue {
            background: rgba(21, 35, 56, .6);
            height: 6.9em;
            position: relative;

            p {
                @include perpendicularly-center();
                right: 2.2em;
                margin: 0;
                font-size: 1.4em;
                line-height: 1.5em;
                font-weight: 300;
            }
        }

        .box-yellow {
            background: $color-yellow;
            color: #162132;
            font-weight: 600;
            display: inline-block;
            padding: 0.62em 2.4em 0.62em 2.64em;
            font-size: 1.3em;
        }
    }

    .main-left {
        text-align: right;

        &::before {
            content: '';
            display: block;
            border-top: 3px solid white;
            width: 40em;
            position: absolute;
            right: 0;
        }
    }

    .main-right {
        font-size: 2.8em;
        letter-spacing: -2px;

        p {
            padding-left: 3.46em;
            line-height: 1.72em;
            margin: 0;
            bottom: 0.2em;
            position: relative;

            &::before {
                content: '';
                left: 2.53em;
                @include perpendicularly-center();
                width: 0.14em;
                height: 0.14em;
                background: white;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 1.34em;
            background: rgba(black, 0.4);
            box-shadow: 0 0 2.01em 1.8em rgba(black, 0.4);
            border-radius: 40px;
            width: 8.5em;
            height: 6.2em;
            z-index: -1;
            left: 2.24em;
        }
    }

    nav {
        text-align: center;
        padding-top: 6.25em;
        padding-bottom: 5.19em;

        ul {
            list-style: none;
            margin: 0;

            li {
                position: relative;
                width: 23.44em;
                background: rgba(black, 0.4);
                display: inline-block;
                margin-right: 3.1em;
                transition: 0.3s;

                a {
                    line-height: 5.4em; //Wyśrodkowanie tekstu w pionie oraz ustawienie szerokości przycisku
                    text-decoration: none;
                    color: white;
                    font-size: 1.3em;
                    display: block;
                }

                &:hover {
                    background: rgba(black, 0.9);
                    transition: 0.1s;

                    a {
                        color: $color-yellow;
                    }

                    &::before {
                        box-shadow: 0px 0px 15px 4px #ffc500, -9px 0px 50px 14px rgba(255, 195, 0, 0.73);
                        transition: 0.2s;
                    }
                }

                &:before {
                    content: '';
                    border-left: 6px solid $color-yellow;
                    position: absolute;
                    left: -8px;
                    margin-right: 0.7em;
                    height: 100%;
                }
            }
        }
    }
}

.gradient {
    position: absolute;
    z-index: 0;
    background: linear-gradient(180deg,
            rgba(213, 220, 230, 1) 0%,
            rgba(222, 227, 235, 1) 47%,
            rgba(229, 233, 239, 1) 58%,
            rgba(233, 236, 242, 1) 68%,
            rgba(235, 238, 243, 1) 74%,
            rgba(255, 255, 255, 1) 100%);
    width: 100%;
    height: 16.7em;
}

.title {
    color: #49515c;
    font-size: 4.9em;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    margin: 0;
    margin-left: 3em;
    padding-left: 0.6em;
    padding-top: 1.77em;
    margin-bottom: 0.7em;
    position: relative;

    &:after {
        content: '';
        border-bottom: 2px solid #000;
        opacity: 0.1;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -20px;
        left: 0;
    }
}

.main-company {
    padding-bottom: 16.7em;
    background: white;

    .box {
        .box-left-about {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 49%;

            img {
                width: 100%;
                position: absolute;
                top: 0.5em;
                left: -4.2em;
                transform: scale(1.08);
            }

            .nav-belt {
                position: absolute;
                bottom: -28.1em;
                width: 72.6%;
                border-right: 2.2em solid transparent;
                border-top: 4.5em solid #49515c;

                div {
                    height: 100%;
                    color: $color-yellow;
                    right: 2.5em;
                    font-size: 1.1em;
                    letter-spacing: 0.5px;
                    top: -2.2em;
                }
            }
        }

        .box-right-about {
            padding: 1px;
            padding-top: 5.9em;
            width: 40.8%;
            display: inline-block;
            vertical-align: top;

            p {
                line-height: 1.7em;
                letter-spacing: 0.48px;
                color: #49515c;
                margin: 0;
                font-size: 1.1em;
                padding-bottom: 1.7em;
            }
        }
    }
}

section {
    background: white;

    .container {
        background: white;
        display: flex;
        justify-content: space-between;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 90.3%;
            border-top: 1px solid #dbdcde;
            @include horizontally-center();
        }

        &.no-border-top:before {
            display: none;
        }

        .box-logo {
            margin-left: 6.2em;
            margin-top: 3.6em;

            img {
                width: 16.8em;
            }
        }

        .box-data {
            text-align: right;
            padding-right: 5.7em;

            h2 {
                padding-top: 20px;
                color: #505050;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                font-size: 1.1em;
                padding-top: 32px;
                letter-spacing: 0.4px;
                line-height: 30px;
            }

            .icon-datum {
                padding-top: 13px;
            }

            div>div {
                display: inline-block;
                padding-left: 1.1em;
                padding-top: 1.25em;

                img {
                    vertical-align: middle;
                    padding-right: 0.8em;
                }

                a {
                    text-decoration: none;
                    font-size: 1.12em;
                    color: #007ebf;
                    font-family: "Poppins";
                    // letter-spacing: -0.1px;

                }

                &:first-child {
                    padding-right: 0.9em;

                    a {
                        padding-right: 0.6em;
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
    padding-top: 29px;
    background: $color-yellow;

    .yellow-beam {
        padding-bottom: 3.4em;
        position: relative;

        div:first-of-type {
            margin-right: 3.1em;
        }

        &:after {
            content: '';
            display: block;
            border-left: 1px solid #c4a11e;
            height: 3em;
            position: absolute;
            right: 48%;
            top: 38%;
        }
    }

    div {
        display: inline-block;

        #counter-week,
        #counter-all {
            font-size: 1.3em;
        }

        #counter-week {
            padding-right: 0.5em;
        }
    }

    h1,
    p {
        font-size: 1.5em;
        line-height: 1.26em;
        color: #3b5165;
        font-weight: 400;
        font-family: "Poppins";
    }

    p {
        display: inline-block;
        margin: 0;
        padding-top: 0.3em;
        padding-left: 2.5em;
        padding-right: 1.7em;
        font-size: 1.13em;
    }

    .gray-beam {
        display: block;
        background: #3b5165;
        padding-top: 2.1em;
        padding-bottom: 2em;
        line-height: 0.63em;
        font-style: italic;
        font-family: "Muli";

        h2,
        p {
            margin: 0;
            font-size: 1em;
            color: #ffffff;
            font-weight: 300;
        }
    }
}

@mixin shadow-ellipse {
    content: '';
    position: absolute;
    bottom: -28%;
    left: 45%;
    height: 10px;
    width: 45px;
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%);
}

.main-tech {
    padding-bottom: 16.7em;
    padding-bottom: 108px;
    background: white;

    .container-tech-icons {
        display: flex;
        justify-content: center;
        margin-top: 7.6em;
        margin-bottom: 12.2em;
        position: relative;

        .box-tech-icons {
            width: 28.9em;
            width: 25%;
            display: flex;
            flex-direction: column;
        }

        .img-tech-icons {
            width: 100%;
            position: relative;
            height: 76px;

            &:after {
                @include shadow-ellipse();
                // content: '';
                // box-shadow: 
                //     0px 30px 6.7px 0.2px black,
                //     0px 30px 18px 0.5px black;
                // position: absolute;
                // width: 30px;
            }

            &.fix-shadows:after {
                @include shadow-ellipse();
                left: 31%;
            }

            &.fix-shadows:before {
                @include shadow-ellipse();
                left: 61%;
            }

            img {
                @include center-center();
            }
        }

        .paragraph-tech-icons {
            width: 100%;

            p {
                padding: 20px;
                margin: 0;
                font-size: 14px;
                letter-spacing: 0.6px;
                line-height: 22px;
                //Problem z kolorem i grubością czcionki
                //Kolor pobrany z projektu różni się u mnie sporo (to ten aktywny poniżej)
                //Z palety wybrałem coś podobnego aleee...
                color: #00318a;
                // color: #345185;
                //mam wrażenie, że czcionka 400 jest jakby za cienka a 500 jakby za gruba...
                // font-weight: 500;
                //Ewentualnie rozwiązać problem nadając mu trochę cienia...
                // text-shadow: 0.2px 0.4px #345185; 
                font-family: "Poppins";
                text-align: center;
                padding: 42px 46px 0 46px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 77%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -61.1px;
            border-bottom: 2px solid #f8f8f9;
        }
    }

    .container-tech-describe {
        position: relative;
        display: flex;

        img {
            width: 65%;
        }

        .tech-desc {
            display: inline-block;
            position: absolute;
            left: 17.5em;
            top: 1.2em;
            width: 40%;

            letter-spacing: 1.11px;
            width: 55.2em;
            font-size: 1.02em;
            line-height: 1.85em;
            color: #49515c;
        }

        .big-label {
            width: 35%;
            background: #49515c;
            position: relative;

            p {
                transform: rotate(-90deg);
                position: absolute;
                // top: 0;
                // right: 0;
                font-family: "Poppins";
                color: white;
                margin: 0;

                &:nth-child(1) {
                    font-size: 4em;
                    opacity: 0.1;
                    font-weight: bold;
                    top: 4.55em;
                    right: 4.5em;
                }

                &:nth-child(2) {
                    font-size: 8.3em;
                    letter-spacing: 0.04em;
                    font-weight: bold;
                    bottom: 0.62em;
                    left: -0.2em;
                    opacity: 0.15;
                }

                &:nth-child(3) {
                    font-size: 3.06em;
                    letter-spacing: -0.02em;
                    line-height: 1.7em;
                    top: 3.8em;
                    left: -0.3em;
                    opacity: 0.03;
                }

                &:nth-child(4) {
                    font-size: 9.35em;
                    opacity: 0.06;
                    letter-spacing: -0.05em;
                    top: 0.75em;
                    left: 0.18em;
                    font-weight: bold;
                }

            }
        }
    }
}


.main-offer {
    background: white;

    header {
        margin-bottom: 0;
        height: auto;

        p {
            width: 67.7em;
            font-size: 1.2em;
            letter-spacing: 0.12em;
            line-height: 1.6em;
            color: #49515c;
            margin: 0;
            margin-left: 14.8em;
            padding-top: 0.7em;
        }

        .main-yellow-box {
            margin-top: 4.2em;
            height: 10em;
            background: #ffc300;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                padding: 0.6em 2.2em 0.6em 2.5em;
                color: #FFC300;
                margin-right: 2em;
                background: #555555;
                font-size: 1.3em;
                letter-spacing: -0.02em;
                line-height: 30px;
                color: #ffc300;
            }
        }
    }

    .offer-title {
        position: relative;
        margin-top: 10em;
        z-index: 1;

        &::after {
            content: '';
            border-right: 2.9em solid #555555;
            height: 11em;
            position: absolute;
            right: 4.7em;
            top: 6.3em;
            opacity: 0.34;
        }

        &:before {
            content: '';
            border-bottom: 1px solid #d6dbdf;
            // opacity: .2;
            width: 91%;
            position: absolute;
            bottom: -5.3em;
            left: 0;
        }

        h2 {
            font-family: "Poppins", sans-serif;
            font-size: 7em;
            color: #3b5165;
            display: inline-block;
            font-weight: 300;
            margin-right: 0;
            position: absolute;
            top: -0.2em;
            right: 1.5em;
        }

        p {
            display: inline-block;
            width: 52.1em;
            margin-left: 5em;
            font-size: 1.32em;
            letter-spacing: 0.08em;
            color: #3b5165;
            font-family: "Poppins", sans-serif;
            margin-top: 6.4em;
            margin-left: 3.9em;
        }

        // &.row-header{
        //         margin-top: 3em;

        //         h2{
        //             position: initial;
        //         }

        //         &::after{
        //             left: 4.7em;
        //             right: auto;
        //         }

        // }
    }

    .offer-box {
        background-image: url(../img/offer/house_background.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        top: -2.5em;
        z-index: 0;

        .offer-box-wrapper {
            display: flex;
            justify-content: space-between;
            padding-top: 14.7em;
            padding-bottom: 9.2em;
            border-bottom: 1px solid #e7e8e5;

            .offer-info {
                color: #3b5165;
                margin-left: 5.2em;

                h3 {
                    font-size: 1.3em;
                    letter-spacing: 0.11em;
                    line-height: 1.1em;
                    font-weight: 500;
                    font-family: "Poppins";
                    margin-top: 0.4em;
                    margin-bottom: 1.6em;
                    margin-left: 1.5em;
                }

                >p {
                    letter-spacing: 0.1em;
                    line-height: 1.49em;
                    font-family: "Poppins";
                    position: relative;
                    margin-left: 2.1em;
                    margin-bottom: 1.2em;

                    &.p-edit::after {
                        top: 0.7em;
                    }

                    &.p-edit::before {
                        top: 1.3em;
                    }

                    &::after {
                        content: '';
                        width: 0.8em;
                        height: 0.8em;
                        display: block;
                        background: #000;
                        position: absolute;
                        left: -2.1em;
                        top: 0.4em;
                    }

                    &::before {
                        content: '';
                        width: 0.7em;
                        height: 0.7em;
                        background: #c3c3c3;
                        position: absolute;
                        left: -1.7em;
                        top: 1em;
                        box-shadow:
                            0px 0px 3px 0.5px #c3c3c3,
                            0px 0px 5px 2.5px #c3c3c3;

                    }

                    .size-medium {
                        font-size: 1.7em;
                        position: relative;
                        top: -0.2em;
                        vertical-align: middle;

                        .number-square {
                            font-size: 0.6em;
                        }
                    }
                }

                .offer-box-price {
                    background: #3b5165;
                    margin-top: 8.8em;
                    width: 39.8em;
                    color: #c5cbd1;
                    color: rgba(white, .7);
                    letter-spacing: 0.1em;
                    line-height: 1.2em;
                    font-family: "Poppins", sans-serif;
                    padding-top: 1.2em;
                    padding-left: 3em;

                    .price,
                    .time {
                        display: inline-block;
                        letter-spacing: 0em;
                    }

                    .time {
                        border: 1px solid #7f7e42;
                        vertical-align: top;
                        margin-top: 2.7em;
                        margin-left: 1.9em;
                        width: 17.6em;
                        padding-bottom: 3.4em;

                        .time-all {
                            letter-spacing: 0;
                            padding-top: 0.2em;
                            font-style: italic;
                        }

                        p {
                            font-size: 1.1em;
                            line-height: 1.5em;
                            color: #ffffff;
                            font-weight: 400;
                            font-family: "Poppins";
                            text-align: center;
                            margin-bottom: -1.5em;

                        }

                        .time-important {
                            color: #ffd200;
                            font-size: 1.5em;
                            letter-spacing: 0.01em;
                            font-style: italic;

                        }
                    }

                    .instalation {
                        margin-top: 3.4em;
                    }

                    p {
                        margin-bottom: 0.8em;
                    }

                    .price-medium {
                        font-size: 1.5em;
                        line-height: 1.1em;
                        color: #ffd200;
                        font-family: "Poppins";
                        margin-top: 0.9em;
                        font-weight: normal;
                        letter-spacing: 0.11em;
                        padding-left: 0.5em;
                        font-style: italic;

                        .price-big {
                            font-size: 2.5em;
                        }
                    }

                    .price-to-m2 {
                        font-size: 1.4em;
                        line-height: 1.2em;
                        color: #ffd200;
                        font-weight: 400;
                        font-family: "Poppins", sans-serif;
                        font-style: italic;
                        letter-spacing: 0.05em;
                        padding: 0.3em 0px 0.8em 1.8em;

                        sup {
                            font-size: 0.7em;
                        }
                    }
                }
            }

            .offer-photo {
                position: relative;
                left: -4.8em;
                width: 51.5%;
                box-shadow: 0px 169px 10px -162px #000;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                .shadow-mirror {
                    width: 105%;
                    height: 30%;
                    z-index: -1;
                    opacity: 0.3;
                    position: absolute;
                    bottom: -12.5em;
                    left: -1.2em;
                }

                // &.img-shadow {
                // TODO pół okrągły cien pod obrazem ???
                // }

                .gallery-btn {
                    border: 1px solid white;
                    border: 1px solid rgba(white, .6);
                    padding: 1em;
                    display: inline-block;
                    position: absolute;
                    right: 1.3em;
                    bottom: 1.5em;
                    width: 20em;
                    height: 3em;
                    background: rgba(black, .15);
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        background: rgba(black, 0.6);
                        transition: 0.2s;
                        border: 1px solid #ffd200;

                        p {
                            color: #ffd200;
                        }

                        span {
                            border: 1px solid #ffd200;
                            border: 1px solid rgba(#ffd200, 0.7);
                            background: rgba(black, 1);
                        }
                    }

                    p {
                        padding-top: 0.5em;
                        padding-left: 1.5em;
                        margin: 0;
                        font-size: 1.1em;
                        letter-spacing: 1px;
                        line-height: 1.7em;
                        color: #ffffff;
                        font-weight: 500;
                        font-family: "Poppins";
                    }

                    span {
                        display: block;
                        position: absolute;
                        width: 1.7em;
                        height: 1.5em;
                        background: #6d6c6e;
                        border: 1px solid white;
                        border: 1px solid rgba(white, 0.7);
                        box-shadow: 5px 5px 5px -3px rgba(black, 0.6);
                        // box-shadow: 3px 5.196px 3px rgba(0,0,0,0.67);
                    }

                    span:nth-child(1) {
                        right: 2.6em;
                        bottom: 2.5em;
                    }

                    span:nth-child(2) {
                        right: 1.3em;
                        bottom: 1.9em;
                    }

                    span:nth-child(3) {
                        right: 2.2em;
                        bottom: 1.3em;
                    }
                }
            }
        }
    }

    .row-section {
        .offer-title {
            margin-top: 3em;

            h2 {
                position: relative;
                top: auto;
                right: auto;
                margin-left: 1.4em;
                margin-top: 0.4em;
            }

            p {
                position: absolute;
                margin-top: 5.7em;
                margin-left: 5.4em;
                text-align: right;
                width: 44.1em;
            }

            .developer-beam {
                //TODO
                background: #ffd200;
                margin: 0;
                padding: 0;
                position: absolute;
                left: 10.5em;
                bottom: -2em;
                width: 24.5em;
                height: 3.2em;
                
                p {
                    margin: 0;
                    padding: 0;
                    font-size: 1.1em;
                    font-weight: 600;
                    text-align: center;
                    width: 100%;
                    letter-spacing: 0.02em;
                    left: -0.8em;
                    top: 0.7em;
                }
            }

            &::after {
                left: 5.1em;
                top: 5.2em;
                right: auto;
            }

            &:before {
                bottom: -0.6em;
                right: 0;
                left: auto;
            }

        }

        .offer-box{
            background-image: none;
            padding-bottom: 4.2em;

            .img-background-top, .img-background-bottom{
                position: absolute;
                top: -4.6em;
                right: -1.3em;
                width: 73.8%;
                height: 53%;
                transform: rotateX(24deg);
                z-index: 0;
            }

            .img-background-bottom{
                top: auto;
                right: auto;
                bottom: 1.1em;
                height: 93%;
                width: 81.4%;
                z-index: -1;
            }

            .offer-box-wrapper{
                padding-bottom: 12.9em;
                
                .offer-photo{
                    left: 5.1em;
                    top: -1em;
                    
                    .shadow-mirror{
                        opacity: 1;
                    }
                }
                
                .offer-info{
                    position: relative;
                    left: -15.2em;

                    > p{
                        margin-left: -1.3em;
                        top: -2em;
                    }
                    
                    .size-medium .number-square{
                        font-size: 0.5em;
                    }

                    .offer-box-price{
                        position: absolute;
                        left: -3.4em;
                        margin-top: 10.7em;
                        width: 39em;
                        height: 14.4em;
                        padding-top: 0;
                        padding-left: 2.5em;

                        .price{
                            padding-top: 1.1em;
                            letter-spacing: 0.1em;
                        }

                        .price-medium{
                            padding-left: 0em;
                            padding-top: 1.6em;
                            margin-bottom: 0.4em;
                        }

                        .price-to-m2{
                            padding-left: 0em;
                            padding-top: 0em;
                            margin-top: 0em;
                        }

                        .time{
                            margin-top: 1.6em;
                            margin-left: 2.6em;
                        }
                    }
                }
            }
        }
    }
}












@media(max-width: 1820px) {
    header #nav {
        right: 11em;

        li {
            margin-right: 4.7em;
        }
    }
}

@media(max-width: 1720px) {
    header #nav {
        right: 9em;

        li {
            margin-right: 3.7em;
            font-size: 1.1em;
        }
    }

    .nav-belt div p {
        font-size: 10.5px;
    }
}

@media(max-width: 1366px) {

    header {
        #nav {
            right: 4em;
        }

    }


}